@charset "UTF-8";
/*字体设置*/
.text-reflect-base{    color: palegreen; -webkit-box-reflect:below 10px;}
.text{  width: 300px; height: 200px; position: absolute;  left: 50%;    margin-left: -150px;    background-image: -webkit-linear-gradient(left,blue,#66ffff 10%,#cc00ff 20%,#CC00CC 30%, #CCCCFF 40%, #00FFFF 50%,#CCCCFF 60%,#CC00CC 70%,#CC00FF 80%,#66FFFF 90%,blue 100%);-webkit-text-fill-color: transparent;/* 将字体设置成透明色 */ -webkit-background-clip: text;/* 裁剪背景图，使文字作为裁剪区域向外裁剪 */ -webkit-background-size: 200% 100%;  -webkit-animation: masked-animation 4s linear infinite; font-size: 35px;}
.font{font-family:"微软雅黑";font-size: 16px;}
.fontB{font-family:"微软雅黑";font-weight:bold;}

.condition{float: left;    width: 20%;    height: 100%;padding: 1.4% 0% 0% 0%;}
.condition input{}
.condition button{}

.background-color: lightyellow;{background-color: white;}

#title-blackground{   border: 2px solid;    border-radius: 5px;}

.preview-print{width: 80%;height: 72%;}

.goodslist table thead tr th{border-radius: 5px;}
.importblock{width: 100%;    height: 6%;padding: 0.5% 3% 0% 0%;}
.select-opntion{border-radius: 5px 10px 0 0; display: inline-block;  width: 4%;height: 100%; text-align: center; font-style: italic; background-color: cornflowerblue;cursor: pointer;}
.addgoodsInfo-table{width: 95%;margin-left: 4%;}
.addgoodsInfo-table tr .input-name{width: 11%;}
.addgoodsInfo-table tr .input-value{width: 22.3%;}
.addgoodsInfo-table tr td textarea{width:92.5%;}
.addgoodsInfo-table tr td input,select{width: 68%; height: 40%;}
.addgoodsInfo-table tr td div{float: left;}
.addgoodsInfo-table tr td .leftInput{width: 46%;vertical-align: top;}
.addgoodsInfo-table tr td .rightInput{width: 20%;vertical-align: top;text-align: center;}
.tp-table{width: 100%;}
.tp-trn{width: 100%;}
.tp-trn .tp-thn{float: right;width: 10%;}
.tp-trn .tp-thn img{width: 15px;height: 15px;}
.tp-trn .tp-thn img:hover{background-color: yellow;width: 16px;height: 16px;}
.tp-table .tp-tr{float: left;width: 100%;height: 9%;margin-top: 1%;}
.tp-table .tp-tr .tp-th1{float: left;width: 39%;}
.tp-table .tp-tr .tp-th2{float: left;width: 12%;}
.tp-table .tp-tr .tp-th3{float: left;width: 10%;}
.tp-table .tp-tr div input{width: 80%;}
.tp-table .tp-tr div img{width: 15px;height: 15px;}
.tp-table .tp-tr div img:hover{background-color: yellow;width: 16px;height: 16px;}
#quit_2{padding: 1% 1.3%;}