iframe {
	box-sizing: border-box;
}

#wms_iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	background-color: white;
}

#menuFrame {
	position: absolute;
	width: 7%;
	height: 85%;
	top: 15%;
	left: 0%;
	background-color: #05306f;
	border-top: 2px solid green;
	border-right: 2px solid green;
	z-index: 9999;
}

#mainFrame {
	position: absolute;
	width: 93%;
	height: 85%;
	top: 15%;
	left: 7%;
	background-color: white;
	border-top: 2px solid green;
	z-index: 9998;
} /* #76edf9; */
div {
	box-sizing: border-box;
	word-wrap: break-word;
}

ul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
}

table {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.table {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
/*字体设置*/
.vintage1 {
	background: #EEE
		url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQImWNkYGBgYGD4//8/A5wF5SBYyAr+//8PAPOCFO0Q2zq7AAAAAElFTkSuQmCC)
		repeat;
	text-shadow: 5px -5px black, 4px -4px white;
	font-weight: bold;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text
}

.vintage2 {
	color: transparent;
	-webkit-text-stroke: 1px red;
	letter-spacing: 0.04em;
}

.vintage3 {
	color: transparent;
	background-color: blue;
	text-shadow: rgba(255, 255, 255, 0.5) 0 5px 6px,
		rgba(255, 255, 255, 0.2) 1px 3px 3px;
	-webkit-background-clip: text;
}

.vintage4 {
	font-size: 22px;
	color: gold;
	letter-spacing: 0;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px
		4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333,
		0px 8px 7px #001135
}

.vintage5 {
	font-family: cursive;
	text-shadow: 6px 2px 2px #333;
	color: deeppink
}

.text-reflect-base {
	color: palegreen;
	-webkit-box-reflect: below 10px;
}

.text {
	width: 300px;
	height: 200px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	background-image: -webkit-linear-gradient(left, blue, #66ffff 10%, #cc00ff 20%, #CC00CC
		30%, #CCCCFF 40%, #00FFFF 50%, #CCCCFF 60%, #CC00CC 70%, #CC00FF 80%,
		#66FFFF 90%, blue 100%);
	-webkit-text-fill-color: transparent; /* 将字体设置成透明色 */
	-webkit-background-clip: text; /* 裁剪背景图，使文字作为裁剪区域向外裁剪 */
	-webkit-background-size: 200% 100%;
	-webkit-animation: masked-animation 4s linear infinite;
	font-size: 35px;
}

.font {
	font-family: "微软雅黑";
	font-size: 16px;
	color: white;
}

@media screen and (min-width:100px) {
	.vintage4 {
		font-size: 17px;
	}
	/* 主体 */
	.main {
		position: absolute;
		left: 0%;
		top: 0%;
		width: 100%;
		height: 15%;
		background-color: #05306f;
		z-index: 9999;
	}
	.flag {
		width: 10%;
		height: 100%;
		padding: 0px 0.5% 0px 0.5%;
		float: left;
	}
	.flag img {
		width: 88px;
		height: 100px;
		border: none;
	}
	.title {
		width: 80%;
		height: 100%;
		padding: 0px 0.5% 0px 0.5%;
		float: left;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	/* 系统设置 */
	.sys-opt {
		width: 10%;
		height: 100%;
		padding: 0px 0.5% 0px 0.5%;
		float: left;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	.sys-opt ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		margin-top: 44%;
		width: 68%;
	}
	.sys-opt ul li {
		padding: 10px 0px 10px 0px;
		background: rgba(21, 61, 119, 0.8);
		border-bottom: 2px solid rgb(60, 121, 165);
		position: relative;
		cursor: pointer;
	}
	.sys-opt ul li:hover {
		background: rgb(2, 37, 88);
	}
	.sys-opt ul li ul {
		display: none;
		position: absolute;
		margin-top: 7%;
		width: 100%;
		border: 0px solid #ccc;
		border-bottom: none;
	}
	.sys-opt ul li.current ul {
		display: block;
	}
	.sys-opt ul li:hover ul {
		display: block;
	}

	/* 功能选择 */
	.menu {
		text-align: center;
		background-color: #091f5af2;
		border-radius: 8px;
		height: 100%;
		width: 98%;
	}
	.menu-title {
		background-color: #09113a;
		line-height: 200%;
		font-size: 22px;
		border-radius: 8px;
		cursor: pointer;
	}
	#menu_select {
		display: inline-block;
		width: 70%;
		list-style: none;
		margin-top: -1%;
	}
	/* .menu ul{display: inline-block; width: 70%;list-style: none;margin-top: -1%;} */
	.menu ul li {
		margin: 18px 6px 10px -39px;
		width: 141.3%;
		line-height: 200%;
	}
	.menu ul li:hover {
		background-color: rgb(12, 37, 188);
		border-radius: 2px;
	}
	.menu ul li ul {
		display: none;
		background-color: #083f6b;
		width: 65.2%;
		position: relative;
	}
	.menu ul li ul li {
		margin: 6px 6px 6px -12px;
		width: 100%;
		line-height: 160%;
	}
	/* .menu ul li:hover ul { display:block;}  */
	/* 个人信息 */
	.background-image {
		width: 100%;
		height: 100%;
		background: url("../../static/images/login-bg.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		-moz-background-size: 100% 100%;
	}
	.background-body {
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.5);
	}
	.person-image {
		width: 100%;
		height: 100%;
		background: url("../../static/images/tx0.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		-moz-background-size: 100% 100%;
	}
	.quit-x {
		width: 100%;
		height: 100%;
		background: url("../../static/images/x.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		-moz-background-size: 100% 100%;
	}
	.placeholders {
		width: 70px;
		display: inline-block;
	}
	.personalInfo-block {
		display: none;
		background-color: azure;
		width: 60%;
		height: 60%;
		border: 3px double #ccc;
		position: absolute;
		top: 18%;
		left: 22%;
		z-index: 9999;
	}
	.personalInfo-title {
		background-color: #05306f;
		width: 100%;
		height: 8%;
		border-bottom: 3px double #ccc;
	}
	.personalInfo-title-info {
		float: left;
		width: 95%;
		height: 100%;
	}
	.personalInfo-title-info span {
		line-height: 240%;
		font-weight: bold;
	}
	.personalInfo-title-quit {
		float: left;
		width: 5%;
		height: 100%;
		padding: 0.8% 1% 0.8% 2%;
	}
	.personalInfo-body {
		width: 100%;
		height: 92%;
	}
	.personalInfo-body-info {
		width: 100%;
		height: 90%;
	}
	.personalInfo-photo-block {
		float: left;
		width: 18%;
		height: 100%;
		padding: 4% 1.5% 21% 3%
	}
	.personalInfo-body-info .table-block {
		float: left;
		width: 82%;
		height: 100%;
		padding-right: 1.8%;
	}
	.personalInfo-body-info table tr {
		
	}
	.personalInfo-body-info table td {
		
	}
	.personalInfo-body-info  table input {
		width: 96%;
		height: 35%;
		background-color: #ccc;
		font-size: 18px;
		text-shadow: 0px 0px #F12345;
	}
	.personalInfo-body-info  table select {
		width: 96%;
		height: 100%;
		background-color: #ccc;
		font-size: 18px;
		text-shadow: 0px 0px #F12345;
	}
	.personalInfo-body-info  table textarea {
		width: 98%;
		height: 70%;
		background-color: #ccc;
		font-size: 18px;
		text-shadow: 0px 0px #F12345;
	}
	.personalInfo-body-quit {
		
	}
	.personalInfo-body-quit input {
		width: 8%;
		height: 30px;
		background: cadetblue;
	}
	.personalInfo-body-quit input:hover {
		background: blue;
	}
	/* 修改密码 */
	.check-flag {
		width: 25px;
		height: 25px;
	}
	.personalInfo-body-info .table-block2 {
		float: left;
		width: 82%;
		height: 100%;
		padding: 2% 34% 10% 11%;
	}

	/* 用户注册 */
	.regist-block {
		background-color: azure;
		width: 64%;
		height: 70%;
		border: 3px double #ccc;
		position: absolute;
		top: 14%;
		left: 18%;
		z-index: 1;
	}
	.personalInfo-body-info .table-block3 {
		float: left;
		width: 100%;
		height: 100%;
		padding: 2% 15% 1.5% 14%;
	}
	.personalInfo-body-info .table-block3 table input {
		width: 100%;
		height: 70%;
	}
}

@media screen and (min-width:1400px) {
	/* 主体 */
	.main {
		position: absolute;
		left: 0%;
		top: 0%;
		width: 100%;
		height: 15%;
		background-color: #05306f;
		z-index: 9999;
	}
	.flag {
		width: 10%;
		height: 100%;
		padding: 0px 0.5% 0px 0.5%;
		float: left;
	}
	.flag img {
		width: 123px;
		height: 140px;
		border: none;
	}
	.title {
		width: 80%;
		height: 100%;
		padding: 0px 0.5% 0px 0.5%;
		float: left;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	/* 系统设置 */
	.sys-opt {
		width: 10%;
		height: 100%;
		padding: 0px 0.5% 0px 0.5%;
		float: left;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	.sys-opt ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		margin-top: 56%;
		width: 68%;
	}
	.sys-opt ul li {
		padding: 10px 0px 10px 0px;
		background: rgba(21, 61, 119, 0.8);
		border-bottom: 2px solid rgb(60, 121, 165);
		position: relative;
		cursor: pointer;
	}
	.sys-opt ul li:hover {
		background: rgb(2, 37, 88);
	}
	.sys-opt ul li ul {
		display: none;
		position: absolute;
		margin-top: 7%;
		width: 100%;
		border: 0px solid #ccc;
		border-bottom: none;
	}
	.sys-opt ul li.current ul {
		display: block;
	}
	.sys-opt ul li:hover ul {
		display: block;
	}

	/* 功能选择 */
	.menu {
		text-align: center;
		background-color: #091f5af2;
		border-radius: 8px;
		height: 100%;
		width: 98%;
	}
	.menu-title {
		background-color: #09113a;
		line-height: 200%;
		font-size: 22px;
		border-radius: 8px;
		cursor: pointer;
	}
	.menu ul {
		display: inline-block;
		width: 70%;
		list-style: none;
		margin-top: -1%;
	}
	.menu ul li {
		margin: 18px 6px 10px -39px;
		width: 141.3%;
		line-height: 200%;
	}
	.menu ul li:hover {
		background-color: rgb(12, 37, 188);
		border-radius: 2px;
	}
	.menu ul li ul {
		display: none;
		background-color: #083f6b;
		width: 65.2%;
		position: relative;
	}
	.menu ul li ul li {
		margin: 6px 6px 6px -12px;
		width: 100%;
		line-height: 160%;
	}
	/* .menu ul li:hover ul { display:block;}  */
	/* 个人信息 */
	.background-image {
		width: 100%;
		height: 100%;
		background: url("../../static/images/login-bg.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		-moz-background-size: 100% 100%;
	}
	.background-body {
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.5);
	}
	.person-image {
		width: 100%;
		height: 100%;
		background: url("../../static/images/tx0.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		-moz-background-size: 100% 100%;
	}
	.quit-x {
		width: 100%;
		height: 100%;
		background: url("../../static/images/x.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		-moz-background-size: 100% 100%;
	}
	.placeholders {
		width: 70px;
		display: inline-block;
	}
	.personalInfo-block {
		display: none;
		background-color: azure;
		width: 60%;
		height: 60%;
		border: 3px double #ccc;
		position: absolute;
		top: 18%;
		left: 22%;
		z-index: 9999;
	}
	.personalInfo-title {
		background-color: #05306f;
		width: 100%;
		height: 8%;
		border-bottom: 3px double #ccc;
	}
	.personalInfo-title-info {
		float: left;
		width: 95%;
		height: 100%;
	}
	.personalInfo-title-info span {
		line-height: 240%;
		font-weight: bold;
	}
	.personalInfo-title-quit {
		float: left;
		width: 5%;
		height: 100%;
		padding: 0.8% 1% 0.8% 2%;
	}
	.personalInfo-body {
		width: 100%;
		height: 92%;
	}
	.personalInfo-body-info {
		width: 100%;
		height: 90%;
	}
	.personalInfo-photo-block {
		float: left;
		width: 18%;
		height: 100%;
		padding: 4% 1.5% 21% 3%
	}
	.personalInfo-body-info .table-block {
		float: left;
		width: 82%;
		height: 100%;
		padding-right: 1.8%;
	}
	.personalInfo-body-info table tr {
		
	}
	.personalInfo-body-info table td {
		
	}
	.personalInfo-body-info  table input {
		width: 96%;
		height: 35%;
		background-color: #ccc;
		font-size: 18px;
		text-shadow: 0px 0px #F12345;
	}
	.personalInfo-body-info  table select {
		width: 96%;
		height: 100%%;
		background-color: #ccc;
		font-size: 18px;
		text-shadow: 0px 0px #F12345;
	}
	.personalInfo-body-info  table textarea {
		width: 98%;
		height: 70%;
		background-color: #ccc;
		font-size: 18px;
		text-shadow: 0px 0px #F12345;
	}
	.personalInfo-body-quit {
		
	}
	.personalInfo-body-quit input {
		width: 8%;
		height: 30px;
		background: cadetblue;
	}
	.personalInfo-body-quit input:hover {
		background: blue;
	}
	/* 修改密码 */
	.check-flag {
		width: 25px;
		height: 25px;
	}
	.personalInfo-body-info .table-block2 {
		float: left;
		width: 82%;
		height: 100%;
		padding: 2% 34% 10% 11%;
	}

	/* 用户注册 */
	.regist-block {
		background-color: azure;
		width: 60%;
		height: 60%;
		border: 3px double #ccc;
		position: absolute;
		top: 18%;
		left: 22%;
		z-index: 1;
	}
	.personalInfo-body-info .table-block3 {
		float: left;
		width: 100%;
		height: 100%;
		padding: 2% 15% 1.5% 14%;
	}
	.personalInfo-body-info .table-block3 table input {
		width: 100%;
		height: 70%;
	}
}

@media screen and (min-width:1700px) {
	.vintage4 {
		font-size: 22px;
	}
	/* 主体 */
	.main {
		position: absolute;
		left: 0%;
		top: 0%;
		width: 100%;
		height: 15%;
		background-color: #05306f;
		z-index: 9999;
	}
	.flag {
		width: 10%;
		height: 100%;
		padding: 0px 0.5% 0px 0.5%;
		float: left;
	}
	.flag img {
		width: 123px;
		height: 140px;
		border: none;
	}
	.title {
		width: 80%;
		height: 100%;
		padding: 0px 0.5% 0px 0.5%;
		float: left;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	/* 系统设置 */
	.sys-opt {
		width: 10%;
		height: 100%;
		padding: 0px 0.5% 0px 0.5%;
		float: left;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	.sys-opt ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		margin-top: 56%;
		width: 68%;
	}
	.sys-opt ul li {
		padding: 10px 0px 10px 0px;
		background: rgba(21, 61, 119, 0.8);
		border-bottom: 2px solid rgb(60, 121, 165);
		position: relative;
		cursor: pointer;
	}
	.sys-opt ul li:hover {
		background: rgb(2, 37, 88);
	}
	.sys-opt ul li ul {
		display: none;
		position: absolute;
		margin-top: 7%;
		width: 100%;
		border: 0px solid #ccc;
		border-bottom: none;
	}
	.sys-opt ul li.current ul {
		display: block;
	}
	.sys-opt ul li:hover ul {
		display: block;
	}

	/* 功能选择 */
	.menu {
		text-align: center;
		background-color: #091f5af2;
		border-radius: 8px;
		height: 100%;
		width: 98%;
	}
	.menu-title {
		background-color: #09113a;
		line-height: 200%;
		font-size: 22px;
		border-radius: 8px;
		cursor: pointer;
	}
	.menu ul {
		display: inline-block;
		width: 70%;
		list-style: none;
		margin-top: -1%;
	}
	.menu ul li {
		margin: 18px 6px 10px -39px;
		width: 141.3%;
		line-height: 200%;
	}
	.menu ul li:hover {
		background-color: rgb(12, 37, 188);
		border-radius: 2px;
	}
	.menu ul li ul {
		display: none;
		background-color: #083f6b;
		width: 65.2%;
		position: relative;
	}
	.menu ul li ul li {
		margin: 6px 6px 6px -12px;
		width: 100%;
		line-height: 160%;
	}
	/* .menu ul li:hover ul { display:block;}  */
	/* 个人信息 */
	.background-image {
		width: 100%;
		height: 100%;
		background: url("../../static/images/login-bg.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		-moz-background-size: 100% 100%;
	}
	.background-body {
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.5);
	}
	.person-image {
		width: 100%;
		height: 100%;
		background: url("../../static/images/tx0.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		-moz-background-size: 100% 100%;
	}
	.quit-x {
		width: 100%;
		height: 100%;
		background: url("../../static/images/x.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		-moz-background-size: 100% 100%;
	}
	.placeholders {
		width: 70px;
		display: inline-block;
	}
	.personalInfo-block {
		display: none;
		background-color: azure;
		width: 60%;
		height: 60%;
		border: 3px double #ccc;
		position: absolute;
		top: 18%;
		left: 22%;
		z-index: 9999;
	}
	.personalInfo-title {
		background-color: #05306f;
		width: 100%;
		height: 8%;
		border-bottom: 3px double #ccc;
	}
	.personalInfo-title-info {
		float: left;
		width: 95%;
		height: 100%;
	}
	.personalInfo-title-info span {
		line-height: 240%;
		font-weight: bold;
	}
	.personalInfo-title-quit {
		float: left;
		width: 5%;
		height: 100%;
		padding: 0.8% 1% 0.8% 2%;
	}
	.personalInfo-body {
		width: 100%;
		height: 92%;
	}
	.personalInfo-body-info {
		width: 100%;
		height: 90%;
	}
	.personalInfo-photo-block {
		float: left;
		width: 18%;
		height: 100%;
		padding: 4% 1.5% 21% 3%
	}
	.personalInfo-body-info .table-block {
		float: left;
		width: 82%;
		height: 100%;
		padding-right: 1.8%;
	}
	.personalInfo-body-info table tr {
		
	}
	.personalInfo-body-info table td {
		
	}
	.personalInfo-body-info table .td-tip {
		width: 9.2%;
	}
	.personalInfo-body-info table .td-content {
		width: 21.1%;
	}
	.personalInfo-body-info  table input {
		width: 96%;
		height: 35%;
		background-color: #fff;
		font-size: 18px;
		text-shadow: 0px 0px #000;
		border: 1px solid #858585;
		border-radius: 5px;
	}
	.personalInfo-body-info  table textarea {
		width: 98%;
		height: 70%;
		background-color: #fff;
		font-size: 18px;
		text-shadow: 0px 0px #000;
		border: 1px solid #858585;
		border-radius: 5px;
	}
	.personalInfo-body-quit {
		
	}
	.personalInfo-body-quit input {
		width: 8%;
		height: 30px;
		background: #35c7d6;
	}
	.personalInfo-body-quit input:hover {
		background: blue;
	}
	/* 修改密码 */
	.check-flag {
		width: 25px;
		height: 25px;
	}
	.personalInfo-body-info .table-block2 {
		float: left;
		width: 82%;
		height: 100%;
		padding: 2% 34% 10% 11%;
	}

	/* 用户注册 */
	.regist-block {
		background-color: azure;
		width: 60%;
		height: 60%;
		border: 3px double #ccc;
		position: absolute;
		top: 18%;
		left: 22%;
		z-index: 1;
	}
	.personalInfo-body-info .table-block3 {
		float: left;
		width: 100%;
		height: 100%;
		padding: 2% 15% 1.5% 14%;
	}
	.personalInfo-body-info .table-block3 table input {
		width: 100%;
		height: 70%;
	}
}